* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1f1f1f;
    color: #fff;
    width: 100vw;
    height: 100vh;
}

/* Navbar */
header {
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li a {
    text-decoration: none;
    color: #bbb;
    font-size: 10px;
}

nav ul li a.active, nav ul li a:hover {
    color: #cf5d8d;
    border-bottom: 2px solid #00d9ff;
    padding-bottom: 5px;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;

}

.image-box {
    width: 30%;
    min-width: 200px;
    display: flex;
    justify-content: center;
}

.circle {
    circle {
    width: 20%;
    height: 50;
    padding-bottom: 20%;
    border-radius: 50%;
    padding: 5px;
    background: radial-gradient(circle, #00d9ff, transparent 60%);
    display: flex;
    align-items: center;
    justify-content: center;
}

}

.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-color: darksalmon;
    box-shadow: 0rcap;
}

.content {
    width: 60%;
    min-width: 250px;
}

.content h4 {
    font-size: 10px;
    margin-bottom: 10px;
}

.content h4 span {
    color: #00d9ff;
}

.content h1 {
    font-size: 10px;
    color: #00d9ff;
    margin-bottom: 20px;
}
.content h2{
  font-size: 15px;
color: rgb(240, 149, 167);
}
.content p {
    font-size: 8px;
    color: #f2eef5;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Buttons */
.buttons {
    margin-bottom: 30px;
}

.btn {
    text-decoration: none;
    padding: 8px 15px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 5px;
}

.primary {
    background: #00d9ff;
    color: #000;
}

.outline {
    border: 2px solid #00d9ff;
    color: #00d9ff;
}

/* Social Icons */
.social i {
    margin-right: 10px;
    color: #aaa;
    font-size: 10px;
    cursor: pointer;
}

.social i:hover {
    color: #00d9ff;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }
    .image-box {
        width: 100%;
        margin-bottom: 20px;
    }
    .content {
        width: 100%;
        text-align: center;
    }
}

